$main-bg: #f5f5f5;
$dark-bg: #222;
$highlight: #FEDC56;

@font-face {
  font-family: 'UnderAuthority';
  src: url('../fonts/under-authority/UnderAuthority.otf'), url('../fonts/under-authority/UnderAuthority.ttf');
}
@font-face {
  font-family: 'EliteDanger';
  src: url('../fonts/elite-danger/elitedanger.ttf');
}
@font-face {
  font-family: 'Alexandria';
  src: url('../fonts/alexandria/AlexandriaFLF.ttf');
}