$main-bg: #fdfdfd;
$dark-bg: #222;
$highlight: #FEDC56;

@font-face {
  font-family: 'UnderAuthority';
  src: url('../fonts/under-authority/UnderAuthority.otf'), url('../fonts/under-authority/UnderAuthority.ttf');
}
@font-face {
  font-family: 'EliteDanger';
  src: url('../fonts/elite-danger/elitedanger.ttf');
}
@font-face {
  font-family: 'Alexandria';
  src: url('../fonts/alexandria/AlexandriaFLF.ttf');
}

// $xl: 87.5em;
$lg: 1024px; 
// $med: 40em;
// $sm: 28em; 
// $xs: 20em; 

@mixin responsive($query) {
  @media ( min-width: + $query ) {
      @content;
  }
}