@import 'theme';

body {
  background-color:$main-bg;
  font-family: 'Alexandria';
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  #content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 1em;
     min-height: calc(100vh - 2em - 150px);
     margin-top: 150px;
     h1, h2, h3, h4, h5, h6, p {
      text-align: center;
    }
    @include responsive( $lg ) {
      margin-top: 0;
      min-height: calc(100vh - 2em);
    }
   }
   @include responsive( $lg ) {
    padding-left: 293px;
    font-size: 1.2rem;
  }
}

ul {
  list-style-type: none;
  li {
    padding: 10px 0;
    font-size: 5rem;
    @include responsive( $lg ) {
      font-size: 2.5rem;
    }
  }
  &.tags {
    li {
      display: inline;
      background-color: $highlight;
      font-size: 1em;
    }
    padding: 0;
  }
}

h1 {
  font-size: 5rem;
  font-family: 'UnderAuthority';
  @include responsive( $lg ) {
    font-size: 4rem;
  }
}

#contactForm {
  background-color: $dark-bg;
  color: $highlight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
    form {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 66%;
      @include responsive( $lg ) { 
        width: 50%;
      }
    }
    button {
      background-color: $dark-bg;
      border: 2px solid $highlight;
      color: $highlight;
      cursor: pointer;
    }
}

#contentLogo {
  @include responsive($lg) {
    display: none;
  }
}

#backgroundLogo {
  display: block;
  position: absolute;
  height: 100vh;
  left: 50vw;
  top: 0;
}

.form-input {
  padding: 2rem;
  margin-top: 1em;
  font-family: 'Alexandria';
  font-size: 2rem;
  outline: none;
  transition: all .3s ease-in-out;
  border: 2px solid $dark-bg;
  &:focus {
    border: 2px solid $highlight;
  }
  @include responsive( $lg ) { 
    font-size: 1.2rem;
    padding: 1rem;
  }
}

.name {
  margin: 0 0 3rem 0;
  line-height: .8;
}

a {
  text-decoration: none;
  font-family: 'EliteDanger';
  color: $dark-bg;
}

.responsive-image {
    max-width: 100vw;
    height: auto;
  @include responsive($lg) {
    max-width: 50vw;
  }
}

@import 'nav';